<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<!-- angular javascript file -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

	<!-- all the firebase scripts required for database -->
	<script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
	<link rel="stylesheet" type="text/css" href="grayscale.css">


	<!-- My angular javascript files -->
	<script src="js/firebase.js"></script>
	<script src="js/main.js"></script>
	<script src="js/controllers/MainController.js"></script>
	<script type="text/javascript">
		function tasksController($scope){
			$scope.localTasks = ['be cool', 'have fun', 'yeah'];
  			$scope.updateLocalTasks = function() {
  				$scope.localTasks.push($scope.newestTask);
  				document.getElementById('localTaskInput').value = "";
  			}
		}
	</script>
</head>
<body>
	<div class="header">
		<div class="container">
			<h1>CheckStarter - By Karishma Mandyam</h1>
		</div>
	</div>
	<div class="main" ng-controller="MainController">
		<h2>{{ title }}</h2>
		<h3>{{ promo }}</h3>
		<!--Input text field and submit button -->
		<h4>Insert Task Here: <input type="text" ng-model="task.name" placeholder="Placeholder Task" id='taskInput' /></h4> 
	<div>
		<button id="submit" onclick="writeUserData()">Enter</button>
	</div>
	<div>
		<button id="newChecklist">Create New Checklist</button>
	</div>
	<div>
		<h3>Create your new checklist here: <input type="text" placeholder="title" id="checklistTitle" /></h3>
		<h3>Input tasks here: <input type="text" placeholder="tasks" id="insertCheckLists" /></h3>
		<button id="secondCreate">Create Checklist</button>

	</div>
	</div>

	<div ng-controller="tasksController">
		<h1>Testing Upload</h1>
		<li ng-repeat="task in localTasks">{{task}}</li> 
		Add Another Task 
		<input type="text" ng-model="newestTask" id="localTaskInput">
		<button ng-click="updateLocalTasks()" id="addID" type="submit">Add</button>
		<button ng-click="submitLocalTasks()">Submit Checklist</button>
	</div>
</body>
</html>